<h1>All our flats (<%= @flats.count %>)</h1>

<div class="cards">
  <% @flats.each do |flat| %>
    <div class="card">
      <div class="card-details">
        <h3><%= flat.name %></h3>
        <p><%= flat.address %></p>
      </div>
      <div class="card-links">
        <div class="card-link">
          <i class="fas fa-users"></i> <%= flat.number_of_guests %>
        </div>
        <div class="card-link">
          <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %>
        </div>
      </div>
      <div class="card-footer">
      <%= link_to "More info", flat_path(flat) %>
      <%= link_to "Edit", edit_flat_path(flat), class: "ml-2 text-warning" %>
      <%= link_to "Delete", flat_path(flat), class: "ml-2 text-danger" %>
      </div>
    </div>
  <% end %>
</div>
